/* Untuk Tablet */
@media all and (max-width: 768px) {
  .template {
    width: 90%;

  }

  .judul h2{
    font-size: 4vw;
  }

  .item h4{
    font-size: 3.5vw;
  }
  .item p{
    font-size: 18px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 480px) {
  .template {
    width: 100%;

  }
  .judul h2{
    font-size: 4vw;
  }

  .item h4{
    font-size: 3.5vw;
  }

  .item p{
    font-size: 16px;
  }
}

@media all and (max-width: 320px) {
  .template {
    width: 100%;

  }
  .judul h2{
    font-size: 4vw;
  }

  .item h4{
    font-size: 3.5vw;
  }

  .item p{
    font-size: 16pxvw;
  }
}
