/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .template {
    width: 90%;

  }

  .judul h2{
    font-size: 4vw;
  }

  .item h4{
    font-size: 3.5vw;
  }
  .item p{
    font-size: 2.5vw;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .template {
    width: 100%;

  }
  .judul h2{
    font-size: 4vw;
  }

  .item h4{
    font-size: 3.5vw;
  }

  .item p{
    font-size: 2.5vw;
  }
}
