*{
  box-sizing:border-box;
}

body {
  background-color: #F0FFF0;
}

.template{
  width:100%;
  background-color: white;
  border: 5px solid;
  border-color: grey;
  border-radius: 20px;
  margin: 10px auto;
}

.Container {
  height : auto;
  width : 100%;
  margin : 5px auto ;
  background-color: white;
}

.top-wrapper {
  height: 350px;
  background-image: url("Image/Education_header.jpg");
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 30px 0 100px 0;
}

.top-wrapper h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 75px ;
  color: 	#6A5ACD;
  font-style: italic;

}

.paragraft-1 {
  margin-left: 40px;
  margin-right: 40px;
  font-size : 21px;
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.item {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 21px;
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.text-content {
  text-indent: 45px;
}

.ilustrasi{
  display :block;
  margin-left: auto;
  margin-right: auto;
}

.item p{
  margin-left: 35px;
}

.item h4 {
  font-size: 28px;
  color: 	#0000FF;
}

.rumus {
  padding-left: 80px;
}

.form {
  height : 450px;
  padding-top: 10px;
}
.form-right{
  height :450px;
  background-color: white;
}

.form-right a {
  text-align: center;
}

.image-link {
  margin-top: 20px;
  display: block;
}

.footer {
  background-color: #AFEEEE;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


@media (max-width: 1000px) {
  .container {
    width: 50%;
  }
}

/* Untuk Smartphone */
@media (max-width: 670px) {
  .container {
    width: 100%;
  }
}
