*{
  box-sizing:border-box;

}

body {
  background-color: #F0FFF0;
  font-family: sans-serif;
}

.template{
  width:80%;
  background-color: white;
  border: 5px solid;
  border-color: grey;
  border-radius: 20px;
  margin: 10px auto;
}

.Container {
  width : 100%;
  margin : 10px auto ;
  padding : 25px;
  background-color: white;
}
.message-wrapper {
  padding : 0px 40px;
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.top-wrapper img{

  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.judul h2{
  font-size: 5vw ;
  text-align: center;
  color: 	#6A5ACD;
  font-style: italic;
}

.pembukaan p {
  font-size: 3vw;
}

.text-content {
  text-indent: 30px;
}

.item h4{
  font-size: 3.5vw;
  color: 	#0000FF;  
}

.item p{
  font-size: 3vw;  
}

.ilustrasi{
  max-width:80%;
  height: auto;
  display:block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.rumus {
  padding-left: 60px;
}

.penutupan p {
  font-size: 3vw;
}

.penutupan img{
  max-width: 90%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

span {
  font-style: bold;
  color : #0000FF;
}

.form {
  height : 450px;
  padding-top: 10px;
}
.form-right{
  height :450px;
  background-color: white;
}

.form-right a {
  text-align: center;
}

.form-right img {
  max-width: 100%;
}

.image-link {
  margin-top: 15px;
  display: block;
}

.footer {
  background-color: #AFEEEE;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}




/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .template {
    width: 90%;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .template {
    width: 100%;

  }
  
}
