*{
  box-sizing:border-box;

}

body {
  background-color: #F0FFF0;
}

.template{
  width:70%;
  background-color: white;
  border: 5px solid;
  border-color: grey;
  border-radius: 20px;
  margin: 10px auto;
}

.Container {
  width : 100%;
  margin : 10px auto ;
  padding : 25px;
  background-color: white;
}
.message-wrapper {
  padding : 0px 40px;
}

.top-wrapper img{

  max-width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}



.paragraft {
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.judul h2{
  font-family: sans-serif;
  font-size: 6vw ;
  display:block;
  text-align: center;
  color: 	#6A5ACD;
  font-style: italic;
  font-style: bold;

}
.paragraft img {
  max-width: 100%;

}
.text-content {
  text-indent: 30px;
}

.ilustrasi{
  display :block;
  margin-left: auto;
  margin-right: auto;
}

.paragraft p{
  font-size: 3.5vw;
}

span {
  font-style: bold;
  color : #0000FF;
}


.item h4{
  font-size: 3vw;
  color: 	#0000FF;
  font-style: bold;
}

.rumus {
  padding-left: 60px;
}

.form {
  height : 450px;
  padding-top: 10px;
}
.form-right{
  height :450px;
  background-color: white;
}

.form-right a {
  text-align: center;
}

.form-right img {
  max-width: 100%;
}

.image-link {
  margin-top: 15px;
  display: block;
}

.footer {
  background-color: #AFEEEE;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
